<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container container__dashboard">
      <aside class="aside">
        <header class="aside__header">
          <img src="<%- data.img %>" alt="profile picture" class="aside__picture" />
          <h2 class="aside__title">Welcome</h2>
          <span class="aside__username"><%- data.name %></span>
        </header>
        <!-- <section class="aside__content">
          <ol class="aside__users"></ol>
        </section> -->
      </aside>
      <section class="content">
        <% genres.forEach(genre => { %>
        <article class="tile">
          <h1 class="tile__title"><%- genre %></h1>
          <a class="tile__link" href="<%- genre %>?username=<%- data.id %>&room=<%- genre %>"><button class="tile__button"><span>🚪</span> Join room</button></a>
        </article>
        <% }) %>
      </section>
    </main>
    <%- include('./../partials/scripts') %>
  </body>
</html>
