<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container container__dashboard">
      <aside class="aside">
        <header class="aside__header">
          <img src="<%- data.images[0].url %>" alt="profile picture" class="aside__picture" />
          <h2 class="aside__title">Welcome</h2>
          <span class="aside__username"><%- data.display_name %></span>
        </header>
        <section class="aside__content">
          
        </section>
      </aside>
      <section class="content">
        <% genres.forEach(genre => { %>
        <article class="tile">
          <h1 class="tile__title"><%- genre %></h1>
          <span class="tile__users">8 active users</span>
          <a class="tile__link" href="/<%- genre %>"><button class="tile__button">Join room</button></a>
        </article>
        <% }) %>
      </section>
    </main>
    <%- include('./../partials/scripts') %>
  </body>
</html>
